
/*-- scss:defaults --*/
$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #225560 !default;
$indigo:  #3a405a !default;
$purple:  #50394c !default;
$pink:    #a94b6f !default;
$red:     #7b2e2f !default;
$orange:  #f0803c !default;
$yellow:  #edf060 !default;
$green:   #648767 !default;
$teal:    #4a7a80 !default;
$cyan:    #8ac7d6 !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Navbar
$navbar-padding-y:  0.5rem !default;

// Fonts
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$headings-font-family: "Roboto Slab", "Arial Narrow Bold", sans-serif !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.1 !default;

/*-- scss:rules --*/


.navbar {
  font-family: 'Roboto Slab';
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
}

.navbar-brand {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-footer{
	min-height: 1em;
}
.nav-footer-center{
	min-height: 1em;
}
